

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  /* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
  :root {
    font-size: 62.5%;
  }

body {
      background-image: url('../images/cutcube.png');
      display: flex;
      justify-content: center;

  }

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 12.66% 16.41% 47.98% 12.2% 10.75%;
    grid-template-areas: 
    "title title"
    "player1-settings player2-settings"
    "board board"
    "message message"
    "socials buttons";
    height: 100vh;
}

#title {
    grid-area: title;
    box-shadow: inset 0 0 10px;
    letter-spacing: 0.3em;
    grid-column: span 2;
    background: hsl(188, 100%, 38%);
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    align-content: center;
    padding: 10px;
    font-size: 3.3em;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-self: center;
}

#player1-settings {
    grid-area: player1-settings;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 70%;
    font-size: 1.5em;
    font-weight: bold;
}



#player2-settings {
    grid-area: player2-settings;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    font-size: 1.5em;
    font-weight: bold;
}

.player2 {
    background-color: #d41515;
}
.player1 {
    background: #dce629;
}

#board-grid > div{#044cba
    width: 38px;
    height: 38px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 6px;
}

#whole-game {
    grid-area: board;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: blue;
    border: 3px solid black;
    width: 370px;
    height: 315px;
}

#board-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

.blank {
     background-color: whitesmoke;
}

#message {
    grid-area: message;
    border: 3px solid black;
    height: 65%;
    font-size: 2.3em;
    font-weight: bold;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.player1turn {
    background-color: yellow;
}

.player2turn {
    background-color: red;
}


button {
    align-self: center;
    font-size: 1.5em;
    height: 50px;
    width: 60px;
    margin: 0;
}

svg {
    margin: 5px 10px;
}

#socials {
    display: flex;
    justify-content: start;
}

#buttons {
    display: flex;
    justify-content: end ;
}

#resetBtn {
    margin: 0 0px 15px 50px;
}

#soundBtn {
    margin: 0 0 15px 10px
}

#player1-settings > button {
    margin: 5px;
    width: 100px;
    height: 30px;
}
#player2-settings > button {
    margin: 5px;
    width: 100px;
    height: 30px;
}