

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  /* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
  :root {
    font-size: 62.5%;
  }

body {
      /*background-image: url('../images/cutcube.png');*/
    background: -webkit-linear-gradient(70deg, #FEFEDF  30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: -o-linear-gradient(70deg, #FEFEDF  30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: -moz-linear-gradient(70deg, #FEFEDF  30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: linear-gradient(70deg, #FEFEDF  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    display: flex;
    justify-content: center;
  }

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 14.66% 13.41% 47.98% 13.2% 10.75%;
    grid-template-areas: 
    "title title"
    "player1-settings player2-settings"
    "board board"
    "message message"
    "socials buttons";
    height: 100vh;
}

#title {
    grid-area: title;
    box-shadow: inset 0 0 15px;
    font-weight: 900;
    letter-spacing: 0.2em;
    grid-column: span 2;
    background: #00C6FF;
    border: 3px solid black;
    border-radius: 20px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 50px;
    max-height: 55px;
    margin: 10px;
    font-size: 4.2em;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-self: center;
}

#player1-settings {
    grid-area: player1-settings;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

img {
    width: 50px;
    height: 50px;
}

#player2-settings {
    grid-area: player2-settings;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

.player2 {
    background-color: #d41515;
    box-shadow: 2px 2px 3px black inset;
}
.player1 {
    background: #fff810;
    box-shadow: 2px 2px 3px black inset;
}

#whole-game {
    grid-area: board;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: blue;
    border: 3px solid black;
    margin: 7px 6px 0 6px;
    min-height: 210px;
    height: 100%;
}

#board-grid {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

#board-grid > div {
    width: 65%;
    height: 65%;
    border: 2px solid black;
    position: relative;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    margin: 5px;
    display: block;
    padding-top: 25%;
    padding-right: 25%;
    padding-bottom: 25%;
    padding-left: 25%;
}

.blank {
     background-color: whitesmoke;
}

#message {
    grid-area: message;
    border: 3px solid black;
    height: 65%;
    font-size: 2em;
    font-weight: bold;
    align-items: center;
    margin: 5px 5px 0 5px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.player1turn {
    background-color: yellow;
}

.player2turn {
    background-color: red;
}


button {
    align-self: center;
    font-size: 1.5em;
    height: 50px;
    width: 60px;
    margin: 0;
}

img {
    margin: 2px 10px;
}

#socials {
    grid-area: socials;
    display: flex;
    justify-content: start;
}

#buttons {
    grid-area: buttons;
    display: flex;
    justify-content: end ;
    margin: 10px;
}

#resetBtn {
    margin: 0 0px 15px 50px;
}

#soundBtn {
    margin: 0 0 15px 10px
}

#player1-settings > button {
    margin: 5px;
    width: 100px;
    height: 30px;
}
#player2-settings > button {
    margin: 5px;
    width: 100px;
    height: 30px;
}

input {
    width: 80%;
}
/*Responsive Design for Horizontal Phone*/
@media only screen and (min-width: 720px) {
    main {
        display: grid;
        grid-template-columns: 22.41% 22.41% 36.51% 18.67%;
        grid-template-rows: 20.92% 40.98% 18.71% 19.37%;
        grid-template-areas: 
        "title title title socials"
        "player1-settings player2-settings board board"
        "message message board board"
        "buttons buttons board board";
        height: 100vh;
    }
    #board-grid > div {
        width: 65%;
        height: 65%;
        border: 2px solid black;
        position: relative;
        justify-self: center;
        align-self: center;
        border-radius: 50%;
        margin: 5px;
            display: block;
    padding-top: 25%;
    padding-right: 25%;
    padding-bottom: 25%;
    padding-left: 25%;
    }
    #title {
        grid-column: span 3;
        height: 50%;
        font-size: 2.3em;
        align-items: center;
        padding: 3px;
        letter-spacing: 1.3em;
        border-radius: 0px;
        margin: 0px 10px;
    }
    input {
        margin: 20px;
    }
    #buttons {
        justify-content: space-between;
    }
    
    #soundBtn {
        margin: 10px;
        width: 130px;
    }
    #resetBtn {
        margin: 10px;
        width: 130px;
    }
    #message {
        margin: 8px;
        position: relative;
        font-size: 1.8em;
    }

    #socials {
        align-items: center;
        margin: 10px 0 0 0;
    }
    
    #whole-game {
        width: 96%;
        height: 96%;
        margin-bottom: 50px;
        justify-content: center;
        align-items: flex-end;
    }
}
/*laptop viewport*/
@media only screen and (min-width: 900px) {
    main {
        grid-template-columns: 22.41% 22.41% 29.51% 25.67%;
        width: 100%;
    }

    #title {
        width: 80%;
        font-size: 4em;
        min-height: 73px;
        height: 65%;
        letter-spacing: 0.4em;
    }

    #socials {
        justify-content: space-around;
    }

    #whole-game {
        height: 93%;
        width: 90%;
    }

    #message {
        font-size: 2.5em;
    }

    #soundBtn, #resetBtn {
        width: 35%;
        height: 50%;
        font-size: 2em;
    }
}

/*full screen viewport*/
@media only screen and (min-width: 1305px) {
    #title {
        width: 95%;
        font-size: 8em;
        letter-spacing: 0.5em;
        min-height: 90px;
    }
    #message {
        font-size: 4em;
    }
    #player1-settings, #player2-settings {
        font-size: 4em;
    }
    #soundBtn, #resetBtn {
        width: 45%;
        height: 50%;
        min-height: 60px;
        font-size: 4em;
        align-self: center;
        justify-content: center;
        padding-bottom: 1.6em;
    }
    #player2-settings > button {
        width: 60%;
        font-size: 0.6em;
        margin-top: 1em;
        height: 100%;
    }
    #player1-settings > button {
        width: 60%;
        margin-top: 1em;
        font-size: 0.6em;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }
    a {
        width: 25%;
    }
    
}